@font-face {
  font-family: "NeueRadial";
  src: url("Neue\ Radial\ A\ Regular.ttf") format("truetype");
  font-weight: normal;
}
@font-face {
  font-family: "NeueRadial";
  src: url("Neue\ Radial\ A\ Light.ttf") format("truetype");
  font-weight: lighter;
}
@font-face {
  font-family: "NeueRadial";
  src: url("Neue\ Radial\ A\ Medium.ttf") format("truetype");
  font-weight: bold;
}
@font-face {
  font-family: "NeueRadial";
  src: url("Neue\ Radial\ B\ Bold.ttf") format("truetype") font-weight-bolder;
  font-weight: bolder;
}